@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* #region login */


/* LOGIN */
.login {
    width: 90%;
    max-width: 420px;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 240px;
    margin-bottom: 45px;
    filter: drop-shadow(0 0 18px #ff5a0b) drop-shadow(0 0 35px #ff5a0b);
}

/* INPUTS */
.input-box {
    position: relative;
    margin-bottom: 18px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #ff5a0b;
    font-size: 18px;
    pointer-events: none;
    filter: drop-shadow(0 0 4px #ff5a0b);
}

input {
    width: 100%;
    padding: 18px 18px 18px 45px;
    border-radius: 12px;
    background: #111;
    border: 1px solid #222;
    color: #fff;
    font-size: 15px;
    transition: .25s;
}

input:focus {
    border-color: #ff5a0b;
    box-shadow: 0 0 10px #ff5a0b;
}

/* BOTÃO */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff5a0b, #ff8a1f);
    box-shadow: 0 0 18px #ff5a0b, 0 0 30px #ff5a0b50;
    transition: .3s;
}

.btn:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 25px #ff5a0b;
}

/* LINKS */
.links {
    margin-top: 18px;
}

.links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    color: #aaaaaa;
    text-decoration: none;
    transition: .3s;
}

.links a:hover {
    color: #ff5a0b;
    text-shadow: 0 0 8px #ff5a0b;
}
.footer-line {
    width: 120px;
    height: 3px;
    background: #ff5a0b;
    margin: 35px auto 0;
    border-radius: 50px;
    box-shadow: 0 0 12px #ff5a0b;
    opacity: .8;
}

/* #endregion login */