@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* #region login */
.login {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 280px;
    margin-bottom: 60px;
    filter: drop-shadow(0 0 10px #ff5a0b);
}

input {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #111;
    color: #fff;
    outline: none;
    font-size: 15px;
    border: 1px solid #333;
    transition: .2s;
}

input:focus {
    border-color: #ff5a0b;
    box-shadow: 0 0 8px #ff5a0b;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    background: #ff5a0b;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    /* text-shadow: 0 0 5px #000; */
    box-shadow: 0 0 10px #ff5a0b;
}

.btn:hover {
    background: #ff7840;
    box-shadow: 0 0 15px #ff5a0b;
}

.link {
    display: block;
    margin-top: 12px;
    font-size: 13px;
    color: #888;
    text-decoration: none;
    transition: .3s;
}

.link:hover {
    color: #ff5a0b;
}

/* #endregion login */